.contest-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--transparent-color);
  box-shadow: 0 0 10px var(--box-shadow);
  border: 2px solid var(--glass-border-color);
  margin: 0.8rem 0;
  color: var(--text-color);
  transition: all 0.2s linear;
  backdrop-filter: blur(8px);
}

.contest-card-container:hover {
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
  box-shadow: 0 0 10px var(--hover-color);
}

.contest-card-sub-container {
  width: 900px;
  padding: 0.8rem 0.2rem;
}

.content-card-top-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content-card-top-container,
.contest-collapse-container {
  padding: 0.2rem 0.9rem;
}

.content-card-top-container {
  padding-bottom: 0;
}

.date-container {
  padding-left: 0.9rem;
  cursor: pointer;
}

.date-container p {
  margin: 0.3rem 0;
  font-size: 0.6rem;
}

.contest-card-container:hover .contest-collapse-container {
  color: var(--text-color);
}

.content-card-title {
  font-size: 0.78rem;
  letter-spacing: 1px;
  flex: 1;
  margin: 0;
}

.contest-btn-container {
  min-width: 2rem;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contest-btn {
  font-size: 0.55rem !important;
  text-transform: none !important;
  width: 4.5rem !important;
  padding: 5px 0 !important;
}

.contest-collapse-container {
  border-top: 2px solid var(--glass-border-color);
}

.contest-subtitle,
.contest-description {
  margin: 0.5rem 0;
}

.contest-subtitle {
  font-size: 0.72rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.contest-description {
  font-size: 0.56rem;
}

@media (max-width: 600px) {
  .contest-btn {
    font-size: 0.5rem !important;
    text-transform: none !important;
  }
  .contest-card-sub-container {
    padding: 0.5rem;
  }
  .content-card-top-container,
  .contest-collapse-container {
    padding: 0.2rem 0.2rem;
  }
  .date-container {
    padding-left: 0.2rem;
  }
}
