.login-signup-container {
  max-width: 16rem;
}

.tab {
  width: 50% !important;
  font-size: 0.8rem !important;
}

.login-signup-container .MuiTabPanel-root {
  padding-bottom: 0.5rem !important;
  padding-top: 0 !important;
}

/* login style */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-text-field,
.MuiInput-input {
  font-size: 0.75rem !important;
}

.login-text-field label {
  font-size: 0.65rem !important;
}

.login-text-field {
  width: 100% !important;
  margin: 0.45rem !important;
}

.login-btn {
  width: 100% !important;
  margin-top: 0.5rem !important;
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
}

.forgot-password {
  width: 100%;
  margin: 0.5rem;
  font-size: 0.5rem;
  text-align: right;
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 1px;
  transition: all linear 0.2s;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* sing up */
.signup-text-field {
  font-size: 0.75rem !important;
  color: var(--text-color) !important;
}

.signup-text-field label {
  font-size: 0.65rem !important;
  color: var(--text-color) !important;
}

.signup-text-field {
  width: 100% !important;
  margin: 0.35rem 0 !important;
  color: var(--text-color) !important;
}

/* Sign in with google and facebook */
.separator {
  font-size: 0.5rem;
  color: var(--text-color);
  position: relative;
  text-align: center;
}

.login-options-container {
  padding: 0.5rem 0.8rem;
}

.separator::after,
.separator::before {
  content: "";
  height: 1px;
  position: absolute;
  width: 40%;
  top: 50%;
  background-color: var(--glass-border-color);
}

.separator::after {
  left: 5%;
}

.google-logo,
.facebook-logo {
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
}

.separator::before {
  right: 5%;
}

.google-btn,
.facebook-btn {
  width: 100% !important;
  font-size: 0.8rem !important;
  text-transform: none !important;
  letter-spacing: 2px !important ;
}

.google-btn {
  margin-bottom: 0.8rem !important;
}

.facebook-btn {
  margin-bottom: 0.3rem !important;
}

/* Mui overrides */
.alert {
  font-size: 0.55rem !important;
}

/* media querys */
@media (max-width: 501px) {
  .login-signup-container {
    min-width: 100% !important;
  }
  .login-page {
    padding: 0.5rem;
    padding-top: 0;
  }
  .google-btn,
  .facebook-btn {
    font-size: 0.6rem !important;
    line-height: 1.4rem !important;
  }
  .tab {
    font-size: 0.55rem !important;
  }
  .login-signup-container .MuiTabPanel-root {
    padding: 0 !important;
    font-size: 0.55rem !important;
  }
  .signup-text-field {
    font-size: 0.57rem !important;
  }
  .signup-text-field label {
    font-size: 0.58rem !important;
    margin-top: 0.2rem !important;
  }
  .login-btn {
    font-size: 0.55rem !important;
  }
  .login-options-container {
    padding: 0;
  }
  .login-text-field,
  .MuiInput-input {
    font-size: 0.7rem !important;
  }
  .google-logo,
  .facebook-logo {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 0.5rem;
  }
}
