:root {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  font-size: 30px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--light-text);
  position: relative;
  background-color: var(--mode);
}

body.light {
  --mode: #f8f8f8;
  --text-color: #000000;
  --primary: #f44336;
  --hover-color: #03cffc;
  --transparent-color: rgba(255, 255, 255, 0.7);
  --glass-border-color: rgba(0, 0, 0, 0.185);
  --box-shadow: rgb(199, 199, 199);
  --border-color: black;
  --drawer-paper: rgba(179, 179, 179, 0.342);
  --background-color: #f8f8f8;
  --tab-box-color: rgb(197, 197, 197);
  --scrollbar-background-color: #141414;
  --scrollbar-thumb-color: rgb(163, 163, 163);
  --text-color-1: #0e141e;
}

body.dark {
  --mode: #1e1e1e;
  --text-color: white;
  --primary: #f44336;
  --hover-color: #03cffc;
  --transparent-color: rgba(30, 30, 30, 0.6);
  --glass-border-color: rgba(255, 255, 255, 0.125);
  --box-shadow: rgba(85, 85, 85, 0.836);
  --border-color: white;
  --drawer-paper: rgba(0, 0, 0, 0.342);
  --background-color: #1e1e1e;
  --tab-box-color: #161616;
  --scrollbar-background-color: rgb(48, 47, 47);
  --scrollbar-thumb-color: rgb(99, 99, 99);
  --text-color-1: #dcdcdd;
}

.router-links {
  color: var(--text-color);
  text-decoration: none;
}
