.question-show-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.question-show-sub-container {
  max-width: 80%;
  min-width: 80%;
  color: var(--text-color);
  display: flex;
  padding: 1rem 0;
}

.question-show-left-side-container {
  width: 74%;
  padding: 18px 0;
}

.tox-editor-header,
.tox-notifications-container,
.tox-statusbar {
  display: none !important;
  visibility: hidden !important;
}

.tox .tox-edit-area__iframe {
  background-color: #1e1e1eb6 !important;
}

.tox-tinymce {
  border: none !important;
}

.tox-tinymce-aux {
  display: none !important;
}

.question-container {
  box-shadow: 0 0 15px var(--box-shadow);
  margin-bottom: 2rem;
  padding: 0.5rem;
  padding-bottom: 0;
  font-size: 22px;
  word-break: break-all;
  height: fit-content;
}

/* code editor containers */
.question-code-editor {
  box-shadow: 0 0 15px var(--box-shadow);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.code-editor-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.3rem 0.5rem;
  border-bottom: 2px solid var(--glass-border-color);
}

.languages-container,
.theme-container {
  width: 7rem !important;
  margin: 0 0.8rem;
  display: flex;
  height: fit-content;
  font-size: 0.5rem;
  align-items: center;
}

.language-dropdown,
.theme-dropdown {
  font-size: 0.5rem;
  margin-left: 0.3rem;
  min-width: 5rem;
}

.question-control-class {
  margin: 0;
  padding: 9px 27px 9px 10px !important;
  border: none !important;
  background-color: transparent !important;
  color: var(--text-color) !important;
  box-shadow: 0 0 5px var(--box-shadow);
}

.question-control-class:hover {
  box-shadow: 0 0 5px var(--hover-color) !important;
}

.is-selected {
  background-color: var(--mode) !important;
}

.Dropdown-placeholder {
  text-overflow: ellipsis;
  overflow: clip;
  width: 100%;
}

.Dropdown-menu {
  background-color: var(--drawer-paper) !important;
  border: 2px solid var(--glass-border-color) !important;
}

.Dropdown-menu .Dropdown-option {
  color: var(--text-color) !important;
}

.Dropdown-menu .Dropdown-option:hover {
  background-color: var(--mode) !important;
}

.Dropdown-menu .is-selected {
  background-color: var(--mode);
  color: var(--text-color) !important;
}

.question-show-icon-container {
  cursor: pointer;
  margin: 0 0.5rem;
}

/* Bottom */

.question-show-button-container {
  margin: 0.8rem 0;
}

.question-show-btn {
  font-size: 0.6rem !important;
  font-family: "rubik" !important;
  font-weight: 400 !important;
  text-transform: none !important;
  width: 5rem !important;
  float: right;
}

.question-show-run-btn {
  margin-right: 0.8rem !important;
}

.question-show-submit-btn {
  border-radius: 0 !important;
  background-color: #31fd79 !important;
}

.question-show-bottom-container .MuiSvgIcon-root {
  font-size: 0.9rem !important;
}

.get-input-textarea {
  margin: 1.2rem 0;
}

.get-input-textarea textarea {
  width: 100%;
  height: 3.5rem;
  background-color: var(--transparent-color);
  color: var(--text-color);
  border: 2px solid var(--glass-border-color);
  font-size: 0.55rem;
  padding: 0.3rem;
  box-sizing: border-box;
  resize: vertical;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  box-shadow: 0 0 15px var(--box-shadow);
  transition: all 0.2s linear;
}

.get-input-textarea textarea:focus {
  outline: none;
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 15px var(--hover-color-box-shadow);
}

/* Right side */
.question-show-right-side-container {
  width: 26%;
  font-size: 0.6rem;
  padding-left: 1.8rem;
  padding-right: 1rem;
  box-sizing: border-box;
  height: fit-content;
  position: sticky;
  top: 89px;
}

.question-show-right-side-container span {
  float: right;
}

@media (max-width: 600px) {
  .question-show-right-side-container {
    display: none;
    visibility: hidden;
  }
  .question-show-sub-container {
    max-width: 90%;
    min-width: 90%;
  }
  .question-show-left-side-container {
    width: 100%;
  }
}
