.snackbar-header {
  margin: 0.15rem;
}

.close-icon-container .css-i4bv87-MuiSvgIcon-root {
  color: var(--text-color);
  display: block;
  cursor: pointer;
  /* font-size: 1.2rem !important; */
  height: 1.1rem !important;
  float: right;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
}
