.mobile-links {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-mobile {
  height: 1.7rem;
  width: 2.6rem;
  margin: 0.5rem 0;
}

.header-logo-mobile img {
  height: 100%;
  width: 100%;
}

.mobile-bars {
  height: 1.35rem !important;
  width: 1.3rem !important;
  margin-left: 0.6rem;
  color: var(--text-color);
}

.drawer-box {
  height: 90% !important;
  bottom: 0 !important;
}

.MuiDrawer-root {
  background-color: var(--drawer-paper);
  top: 69px !important;
}

.MuiDrawer-paper {
  background-color: var(--transparent-color) !important;
  backdrop-filter: blur(4px);
  height: 90% !important;
  top: 69px !important;
}

/* .MuiDrawer-paperAnchorLeft {
    max-width: 70%;
    min-width: 60%;
} */

.MuiDrawer-paperAnchorDockedLeft {
  height: 50% !important;
}

.MuiDrawer-modal {
  height: 100% !important;
  top: 69px !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  top: 69px !important;
}

.list-signin-btn {
  height: fit-content  !important;
}

.list-singin-main-btn {
  width: 100% !important;
  margin: 0.6rem 0 !important;
}

/* .MuiDrawer-modal {
    glass Effect
} */

.mobile-list-container {
  margin: 0.3rem 0 !important;
}

.mobile-list-button {
  height: 1.4rem;
  padding: 0 !important;
  margin: 0 0.8rem !important;
}

.mobile-list-text {
  font-size: 0.65rem !important;
}
