.test-question {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.test-left-side-container {
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.test-question-detail-container {
  overflow-y: scroll;
  width: calc(100% - 12px);
  height: 100%;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  width: 12.8px;
  height: 100%;
  background-color: var(--glass-border-color);
  cursor: col-resize;
  padding: 0.1rem;
  font-size: 2px;
  box-sizing: border-box;
}

.indicator-icon-container {
  position: relative;
}

.drag-indicator-icon {
  font-size: 20px !important;
}

.test-right-side-container {
  width: 100%;
  margin-left: 6px;
  overflow-y: scroll;
}

.test-right-top-container {
  background-color: var(--glass-border-color);
  display: flex;
  box-sizing: border-box;
  line-height: 0.8rem;
}

.test-language-dropdown-container {
  display: flex;
  align-items: center;
  width: 5.5rem;
  font-size: 0.5rem;
  margin: 0 0.5rem;
}

.test-language-dropdown {
  font-size: 0.5rem;
  margin-left: 0.3rem;
  line-height: 0.45rem;
  min-width: 100% !important;
}

.test-question-control-class {
  border: none !important;
  background-color: var(--drawer-paper) !important;
  color: var(--text-color) !important;
}

.test-question-other-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.test-question-reset-icons {
  font-size: 0.78rem !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.3rem 0.8rem;
}

.test-against-container {
  display: inline-block;
  width: fit-content !important;
}

.test-against-container .MuiSvgIcon-root {
  font-size: 0.85rem !important;
  padding: 0 9px !important;
}

.test-against-container .MuiCheckbox-root {
  padding: 0 9px !important;
}

.test-question-code-editor {
  height: calc(100vh - 4rem) !important;
  width: 100% !important;
}

.test-code-submit-btn-container {
  padding: 0.5rem;
}

.test-btn {
  font-size: 0.5rem !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  width: 5rem !important;
  margin: 0 0.2rem !important;
  border-radius: 0 !important;
  float: right;
  font-family: "rubik" !important;
  font-weight: 400 !important;
}

.success-btn {
  background-color: #32c766 !important;
  box-shadow: 0 0 10px #32c76633 !important;
}

.test-result-btn {
  float: left !important;
  color: var(--text-color) !important;
  font-size: 0.6rem !important;
  font-family: "rubik" !important;
}

.tab-context-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .7rem;
}